@font-face {
    font-family: alu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: alu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: alu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    font-family: "alu";
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2.2vw;
}

#nav {
    padding: 2vw 0vw;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* background-color: black; */
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: .1px solid #00000066;
    border-radius: 100vw;
    font-weight: 200;
    color: #000;
    cursor: pointer;
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 80%;
    transition: all ease 0.35s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0%;
}

#nav-part2 h4 a {
    color: #3a3a3a;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#center {
    height: 78vh;
    width: 100%;
    padding: 4vw 0vw;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #a3a3a3d3;
}

#left h2 {
    width: 26vw;
    font-size: 1.9vw;
    line-height: 1.8vw;
    letter-spacing: -.06vw;
}

#right h1 {
    font-size: 10.6vw;
    line-height: 8.6vw;
    text-align: right;

}

#page1 video {
    width: 100%;
    border-radius: 20px;
    margin-top: 3.9vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 37vw;
    right: 0;
    top: 80vh;

}

#hero-1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(#fe2f0b, #ff3209);
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#hero-2 {
    width: 40vw;
    height: 30vw;
    background-color: #FE350B;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#hero-3 {
    width: 30vw;
    height: 30vw;
    border-radius: 55%;
    background: linear-gradient(#FE350B, #fe440b);
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}

@keyframes anime1 {
    from {
        transform: translate3d(-9%, 0%, 8.6vw) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    }

    to {
        transform: translate(27%, -2%);
    }
}

@keyframes anime2 {
    from {
        transform: translate3d(-10%, -9px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    }

    to {
        transform: translate(27%, -2%);
    }
}

@keyframes anime3 {
    from {
        transform: translate3d(-5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8.5vw 0;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    /* background-color: aqua; */
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: linear;
}

#moving-text h1 {
    font-size: 9.5vw;
    display: inline-block;
    /* background-color: aqua; */
}

#gola {
    background-color: #FE350B;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    /* margin-top: 6vw; */
    display: flex;
    position: relative;
    z-index: 9;
    align-items: center;
    justify-content: space-between;
}

#page2-bottom h1 {
    font-size: 4.5vw;
    width: 65%;
    line-height: 4.5vw;
    margin-top: 9vw;
    padding: 3vw;

}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20vw;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 3vw;
}

#gooye1 {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    background: linear-gradient(to top right, #FE350B, #ff8331);
    top: 58%;
    left: 25%;
    animation-name: gooye1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate
}

#gooye2 {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    background-color: #FE350B;
    top: 58%;
    left: 25%;
    animation-name: gooye2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
    animation-direction: alternate
}

@keyframes gooye1 {
    from {
        filter: blur(30px);
        transform: translate3d(-9%, 0%, 8.6vw) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg);
    }

    to {
        filter: blur(20px);
        transform: translate(27%, -2%) skew(5deg);
    }
}

@keyframes gooye2 {
    from {
        filter: blur(40px);
        transform: translate(-5%, -5%)
            /* skew(60eg); */
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 20%)
            /* skew(-3deg); */
    }
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 9vw 0;
    /* margin-top: 5vw; */
    letter-spacing: -.1vw;
    /* position: relative; */
}

.elem {
    height: 130px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
    border-bottom: 1px solid #31313166;
    /* background-color: #FF9831; */
}

.elem h1{
    font-size: 3.5vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    position: absolute;
    background-color: #FF9831;
    transition: all 0.2s ease;
}
.elem:hover .overlay{
    top: 0;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}